/* Laptop L */
@media screen and (min-width: 1025px) and (max-width:1440px){
  #into-bg-right{
    width: 750px;
  }

  #services-bg-left{
    width: 750px;
  }

  .card-btn{
    margin-left: -60px;
  }

  #info-left-bg-img{
    height: 700px;
  }


  .field{
    width: 332px;
  }


  #map-form-container{
    width: 1200px;
  }

  #your-name,
  #your-email{
    margin-right: 20px;
  }
}

/* Laptop */
@media screen and (min-width: 769px) and (max-width:1024px){
  #navbar{
    right: 200px;
  }

  .nav-btn{
    margin-right: 40px;
  }
  
  #intro-bg-right{
    width: 750px;
  }

  #intro-heading{
    font-size: 18px !important;
  }

  #intro-sub-heading{
    font-size: 50px;
    line-height: 1.4;
  }

  #intro-text{
    background-color: rgba(255, 255, 255, 0.92);
    border-radius: 12px;
    height: 600px;
    padding: 50px;
    padding-top: 100px;
    padding-left: 30px;
  }

  #intro-paragraph{
    width: 450px;
    line-height: 1.9;
    margin-bottom: 40px;
  }

  #services-bg-left{
    width: 900px;
    margin-top: 110px;
  }

  #services{
    margin-top: 10px !important;
  }

  #we-provide{
    line-height: 1.5;
  }

  #services-lorem{
    line-height: 1.5;
  }
  
  .services-cards-container{
    grid-template-columns: 220px 220px;
  }

  .services-card-heading{
    font-weight: 700;
  }

  #services-bg-right{
    z-index: -1;
  }
  
  #projects{
    margin-top: 100px;
  }

  #cards-container{
    margin-top: 50px;
  }

  .cards{
    width: 230px;
    position: relative;
    padding-bottom: 30px;
  }

  .card-text{
    font-size: 20px;
  }

  .card-btn{
    position: absolute;
    bottom: 0;
  }

  #info-left-bg-img{
    width: 450px;
    height: 800px;
    object-fit: cover;
  }

  #info-text-container{
    height: 800px;
    padding-left: 30px;
  }

  #ninety-percent{
    position: relative;
    left: -40px;
  }

  #eighty-percent{
    position: relative;
    left: -80px;
  }

  #ninety-five-percent{
    position: relative;
    left: -30px;
  }

  form{
    width: 400px;
    padding-right: 0 !important;
  }

  #contact-us-bg-img1,
  #contact-us-bg-img2{
    z-index: -1;
  }

  #map-form-container{
    margin-left: 70px;
    width: 880px;
  }

  #form-container{
  }

  #map{
    width: 250px;
  }

  .field{
    width: 185px !important;
  }

  #your-name,
  #your-email{
    margin-right: 13px;
  }

  textarea{
    width: 385px !important;
  }

  #submit{
    width: 385px;
    height: 45px;
  }

  #contact-number,
  #email-address,
  #location-address{
    font-size: 15px;
  }

  #email-address{
    margin-top: 20px;
  }

  #location-address{
    margin-top: 40px;
  }

  #map-icon{
    position: relative;
    top: 10px;
  }
}

/* Tablet */
@media screen and (min-width: 426px) and (max-width:768px){

  #logo{
    transform: scale(.8);
    margin-left: 60px;
  }

  .nav-btn{
    margin-right: 20px;
  }

  #navbar{
    /* margin-left: -150px; */
    right: 200px;
  }

  #intro-text{
    margin-left: 40px;
    margin-top: 80px;
    max-width: 90%;
    text-align: center;
    padding: 35px 16px;
    background-color: rgba(255, 255, 255, 0.927);
    border-radius: 22px;
  }

  #hr{
    margin-left: 225px;
  }

  #intro-sub-heading{
    margin-bottom: 30px;
  }

  #intro-paragraph{
    width: 650px;
    margin-bottom: 40px;
  }

  #intro-btns-section{
    margin-left: 130px;
  }

  #services{
    margin-top: 50px !important;
  }

  #we-provide{
    font-size: 30px;
  }

  #services-bg-left{
    width: 750px;
    margin-top: -500px;
  }

  #services-text{
    position: relative;
    left: 40px;
    width: 630px;
  }

  .services-cards-container{
    grid-template-columns: 320px 300px;
  }

  .services-cards{
    background-color: rgba(255, 255, 255, 0.961);
    width: 320px;
    z-index: 10;
  }

  #projects{
    margin-top: 10px;
  }

  #projects-text{
    text-align: center;
    margin-left: 20px;
  }

  #projects-hr{
    margin-left: 300px;
  }

  #cards-container{
    display: grid !important;
    grid-template-columns: 300px 400px;
    grid-gap: 30px;
    margin-left: 70px;
    margin-top: 50px;
  }

  .cards{
    position: relative;
  }

  .card1{
    width: 300px;
    position: relative;
  }

  .card2{
    width: 300px !important;
  }

  .card3{
    width: 300px !important;
  }

  .card4{
    width: 300px !important;
  }
  .card-btn{
    position: absolute;
    right: 0;
  }

  #info-cards-container{
    flex-direction: column;
  }

  #info-left-bg-img{
    border-bottom-left-radius: 0;
    border-top-right-radius: 23px;
    width: 100%;
  }
  
  #info-text-container{
    border-top-right-radius: 0;
    border-bottom-left-radius: 23px;
    padding-left: 62px;
  }

  #contact-us-bg-img1,
  #contact-us-bg-img2{
    z-index: -1;
  }

  #contact-us{
  }

  #map-form-container{
    margin-left: 50px;
    width: 670px;
    flex-direction: column;
    padding: 30px 25px;
    background-color: white;
    height: 1750px;
  }

  #map{
    width: 620px;
  }
  
  form{
  }

  #form-container{
    width: 612px;
    margin-left: 2px;
    margin-top: 30px;
    height: 70%;
  }

  #textarea{
    width: 100%;
  }

  input[type="text"]{
    width: 100%;
  }

  #submit{
    width: 100%;
    height: 40px;
  }

  #contact-info{
    /* border: 2px solid black; */
    flex-direction: column;
    height: 39.5%;
  }



}

/* Mobile L */
@media screen and (min-width: 376px) and (max-width:426px){

  header{
    width: 80px;
  }
  
  body{
    overflow-x: hidden !important;
  }

  #logo{
    transform: scale(.8);
    margin-left: 10px;
  }



  #hamburger-btn{
    /* border: 2px solid red; */
    /* display: block !important; */
    position: absolute;
    right: 60px;
    top: 30px;
    transform: scale(.7);
  }

  #close-btn{
    /* border: 2px solid red; */
    position: absolute;
    right: 60px;
    top: 30px;
    transform: scale(.7);
    display: none;
  }

  #hamburger-menu-container{
    display: block;
  }


  #hamburger-navbar{
    position: fixed;
    top: 105px;
    left: 0;
    right: 0;
    background-color: rgba(255, 255, 255, 0.966);
    text-align: center;
    padding: 20px 0;
    z-index: 100;
  }

  .ham-nav-btns{
    color: black;
  }

  .ham-nav-btns-container{
    padding-top: 15px;
    padding-bottom: 20px;
    border-bottom: 1px solid lightgray;
  }

  .ham-nav-btns-container:last-child{
    border-bottom: none;
  }

  #navbar{
    display: none;
  }

  #intro-text{
    margin-left: 15px;
    margin-top: 80px;
    max-width: 92%;
    text-align: center;
    padding: 35px 16px;
    background-color: rgba(255, 255, 255, 0.927);
    border-radius: 22px;
  }

  #hr{
    margin-left: 65px;
  }

  #intro-sub-heading{
    margin-bottom: 30px;
    font-size: 35px;
  }

  #intro-paragraph{
    width: 300px;
    margin-bottom: 40px;
    line-height: 1.9;
    text-align: justify;
  }

  #intro-btns-section{
    width: 320px;
  }

  #discover-more{
    transform: scale(.9);
    font-size: 17px;
  }

  #or{
    position: relative;
    bottom: -10px;
    color: rgb(157, 155, 155);
    font-size: 17px;
  }

  #check-our-faqs{
    transform: scale(.9);
    font-size: 17px;
    margin-right: 10px;
  }

  #services{
    margin-top: 50px !important;
  }

  #services-text{
    /* border: 2px solid blue; */
    margin-left: -30px;
    width: 350px !important;
  }

  #we-provide{
    font-size: 28px;
    line-height: 1.3;
    width: 300px;
  }

  #services-hr{
    /* border: 2px solid red; */
    border-width: 3px;
  }

  #services-bg-left{
    width: 365px;
    margin-top: -500px;
  }

  #services-bg-right{
    right: 0;
  }

  #services-text{
    position: relative;
    left: 40px;
    width: 300px;
  }

  .services-cards-container{
    grid-template-columns: 100%;
  }

  .services-cards{
    background-color: rgba(255, 255, 255, 0.961);
    width: 95%;
    z-index: 10;
  }

  .services-cards h5{
    font-weight: 700;
  }

  #info{
    /* border: 2px solid black; */
    margin-top: 90px;
  }

  #discover-our-work{
    width: 300px;
    font-size: 32px;
    margin-left: 30px;
    line-height: 1.2;
  }

  #projects-lorem{
    width: 350px;
    margin: auto;
  }

  #projects-hr{
    margin-left: 140px !important;
    margin-top: 30px;
    border-width: 3px;
  }

  #projects{
    margin-top: 80px;
  }

  #projects-text{
    text-align: center;
    margin-left: 4px;
  }

  #projects-hr{
    margin-left: 300px;
  }

  #cards-container{
    display: grid !important;
    grid-template-columns: 350px;
    grid-gap: 30px;
    margin-left: 35px;
    margin-top: 50px;
  }

  .cards{
    position: relative;
    width: 310px;
  }

  .card-btn{
    position: absolute;
    right: 0;
  }

  #info-cards-container{
    flex-direction: column;
  }

  #info-left-bg-img{
    border-bottom-left-radius: 0;
    border-top-right-radius: 23px;
    width: 100%;
    height: 500px;
  }
  
  #info-text-container{
    border-top-right-radius: 0;
    border-bottom-left-radius: 23px;
    padding-left: 62px;
  }

  #ninety-percent{
    left: -20px;
  }

  #eighty-percent{
    left: -40px;
  }

  #ninety-five-percent{
    left: -10px;
  }

  #contact-us-bg-img1,
  #contact-us-bg-img2{
    z-index: -1;
  }


  #map-form-container{
    margin-left: 40px;
    width: 305px;
    flex-direction: column;
    padding: 30px 25px;
    background-color: white;
    height: 1865px;
  }

  #map{
    width: 250px;
  }
  
  form{
    height: 830px;
    /* border: 3px solid black; */
  }

  #form-container{
    /* border: 3px solid red; */
    width: 250px;
    margin-left: 2px;
    margin-top: 30px;
    height: 100% !important;
  }

  #textarea{
    width: 100%;
  }

  input[type="text"]{
    width: 100%;
  }

  #submit{
    width: 100%;
    height: 40px;
  }

  #contact-info{
    /* border: 2px solid black; */
    flex-direction: column;
    height: 40%;
    margin-top: -366px;
  }



}

/* Mobile M */
@media screen and (min-width: 321px) and (max-width:376px){
  body{
    overflow-x: hidden !important;
  }

  #logo{
    transform: scale(.8);
    margin-left: 10px;
  }

  #hamburger-btn{
    position: absolute;
    right: 60px;
    top: 30px;
    transform: scale(.7);
  }

  #close-btn{
    position: absolute;
    right: 60px;
    top: 30px;
    transform: scale(.7);
    display: none;
  }

  #hamburger-menu-container{
    display: block;
  }

  #hamburger-navbar{
    display: none;
    position: fixed;
    top: 105px;
    left: 0;
    right: 0;
    background-color: rgba(255, 255, 255, 0.966);
    text-align: center;
    padding: 20px 0;
    z-index: 100;
  }

  .ham-nav-btns{
    color: black;
  }

  .ham-nav-btns-container{
    padding-top: 15px;
    padding-bottom: 20px;
    border-bottom: 1px solid lightgray;
  }

  .ham-nav-btns-container:last-child{
    border-bottom: none;
  }

  #navbar{
    display: none;
  }

  #intro-text{
    margin-left: 15px;
    margin-top: 80px;
    max-width: 92%;
    text-align: center;
    padding: 35px 16px;
    background-color: rgba(255, 255, 255, 0.927);
    border-radius: 22px;
  }

  #hr{
    margin-left: 75px;
  }

  #intro-sub-heading{
    margin-bottom: 30px;
    font-size: 35px;
  }

  #intro-paragraph{
    width: 300px;
    margin-bottom: 40px;
    line-height: 1.9;
    text-align: justify;
  }

  #intro-btns-section{
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  #discover-more{
    transform: scale(.9);
    font-size: 17px;
  }

  #or{
    position: relative;
    color: rgb(157, 155, 155);
    font-size: 17px;
  }

  #check-our-faqs{
    transform: scale(.9);
    font-size: 17px;
  }

  #services{
    margin-top: 50px !important;
  }

  #services-text{
    margin-left: -30px;
    width: 345px !important;
  }

  #we-provide{
    font-size: 30px;
    line-height: 1.3;
    width: 350px;
  }

  #services-hr{
    border-width: 3px;
  }

  #services-bg-left{
    width: 410px;
    margin-top: -500px;
  }

  #services-bg-right{
    right: 0;
  }

  #services-text{
    position: relative;
    left: 40px;
    width: 630px;
  }

  #services-lorem{
    width: 350px !important;
  }

  .services-cards-container{
    grid-template-columns: 100%;
  }

  .services-cards{
    background-color: rgba(255, 255, 255, 0.961);
    width: 90;
    z-index: 10;
  }

  .services-cards h5{
    font-weight: 700;
  }

  #services-bg-left{
    width: 360px;
  }

  #info{
    margin-top: 90px;
  }

  #discover-our-work{
    width: 300px;
    font-size: 32px;
    margin-left: 30px;
    line-height: 1.2;
  }

  #projects-lorem{
    width: 350px;
    margin: auto;
  }

  #projects-hr{
    margin-left: 140px !important;
    margin-top: 30px;
    border-width: 3px;
  }

  #projects{
    margin-top: 80px;
  }

  #projects-text{
    text-align: center;
    margin-left: 4px;
  }

  #projects-hr{
    margin-left: 300px;
  }

  #cards-container{
    display: grid !important;
    grid-template-columns: 350px;
    grid-gap: 30px;
    margin-left: 5px;
    margin-top: 50px;
  }

  .cards{
    position: relative;
    width: 340px;
  }

  .card-btn{
    position: absolute;
    right: 0;
  }

  #info-cards-container{
    flex-direction: column;
  }

  #info-left-bg-img{
    border-bottom-left-radius: 0;
    border-top-right-radius: 23px;
    width: 100%;
    height: 400px;
  }
  
  #info-text-container{
    border-top-right-radius: 0;
    border-bottom-left-radius: 23px;
    padding-left: 32px;
  }

  #ninety-percent{
    left: -30px;
  }

  #eighty-percent{
    left: -60px;
  }

  #ninety-five-percent{
    left: -20px;
  }

  #contact-us-bg-img1,
  #contact-us-bg-img2{
    z-index: -1;
  }


  #map-form-container{
    margin-left: 22px;
    width: 325px;
    flex-direction: column;
    padding: 30px 25px;
    background-color: white;
    height: 1830px;
  }

  #map{
    width: 275px;
  }
  
  form{
    height: 830px;
  }

  #form-container{
    width: 280px;
    margin-left: 2px;
    margin-top: 30px;
    height: 100% !important;
  }

  #textarea{
    width: 100%;
  }

  input[type="text"]{
    width: 100%;
  }

  #submit{
    width: 100%;
    height: 40px;
  }

  #contact-info{
    flex-direction: column;
    height: 40%;
    margin-top: -366px;
  }



}

/* Mobile S */
@media screen and (max-width:320px){
  
  body{
    overflow-x: hidden !important;
  }

  #logo{
    transform: scale(.8);
    margin-left: 10px;
  }

  #hamburger-btn{
    position: absolute;
    right: 60px;
    top: 30px;
    transform: scale(.7);
  }

  #close-btn{
    position: absolute;
    right: 60px;
    top: 30px;
    transform: scale(.7);
    display: none;
  }

  #hamburger-menu-container{
    display: block;
  }

  #hamburger-navbar{
    display: none;
    position: fixed;
    top: 105px;
    left: 0;
    right: 0;
    background-color: rgba(255, 255, 255, 0.966);
    text-align: center;
    padding: 20px 0;
    z-index: 100;
  }

  .ham-nav-btns{
    color: black;
  }

  .ham-nav-btns-container{
    padding-top: 15px;
    padding-bottom: 20px;
    border-bottom: 1px solid lightgray;
  }

  .ham-nav-btns-container:last-child{
    border-bottom: none;
  }

  #navbar{
    display: none;
  }

  #intro-text{
    margin-left: 10px;
    margin-top: 80px;
    max-width: 92%;
    text-align: center;
    padding: 35px 16px;
    background-color: rgba(255, 255, 255, 0.927);
    border-radius: 22px;
  }

  #hr{
    margin-left: 35px;
  }

  #intro-sub-heading{
    margin-bottom: 30px;
    font-size: 35px;
  }

  #intro-paragraph{
    width: 250px;
    margin-bottom: 40px;
    line-height: 1.9;
    text-align: justify;
  }

  #intro-btns-section{
    width: 260px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  #discover-more{
    transform: scale(.9);
    font-size: 17px;
  }

  #or{
    position: relative;
    color: rgb(157, 155, 155);
    font-size: 17px;
  }

  #check-our-faqs{
    transform: scale(.9);
    font-size: 17px;
  }

  #services{
    margin-top: 50px !important;
  }

  #services-text{
    margin-left: -30px;
    width: 305px !important;
  }

  #we-provide{
    font-size: 30px;
    line-height: 1.3;
    width: 300px;
  }

  #services-hr{
    border-width: 3px;
  }

  #services-bg-left{
    width: 410px;
    margin-top: -500px;
  }

  #services-bg-right{
    right: 0;
    z-index: -1;
  }

  #services-text{
    position: relative;
    left: 40px;
    width: 630px;
  }

  #services-lorem{
    width: 300px !important;
  }

  .services-cards-container{
    grid-template-columns: 100%;
  }

  .services-cards{
    background-color: rgba(255, 255, 255, 0.961);
    width: 96%;
    z-index: 10;
  }

  .services-cards h5{
    font-weight: 700;
  }

  #services-bg-left{
    width: 305px;
  }

  #info{
    margin-top: 90px;
  }

  #discover-our-work{
    width: 250px;
    font-size: 32px;
    margin-left: 30px;
    line-height: 1.2;
  }

  #projects-lorem{
    width: 280px;
    margin: auto;
  }

  #projects-hr{
    margin-left: 120px !important;
    margin-top: 30px;
    border-width: 3px;
  }

  #projects{
    margin-top: 80px;
  }

  #projects-text{
    text-align: center;
    margin-left: 4px;
  }

  #projects-hr{
    margin-left: 300px;
  }

  #cards-container{
    display: grid !important;
    grid-template-columns: 350px;
    grid-gap: 30px;
    margin-left: 25px;
    margin-top: 50px;
  }

  .cards{
    position: relative;
    width: 270px;
  }

  .card-btn{
    position: absolute;
    right: 0;
  }

  #info-cards-container{
    flex-direction: column;
  }

  #info-left-bg-img{
    border-bottom-left-radius: 0;
    border-top-right-radius: 23px;
    width: 100%;
    height: 350px;
  }
  
  #info-text-container{
    border-top-right-radius: 0;
    border-bottom-left-radius: 23px;
    padding-left: 32px;
  }

  #ninety-percent{
    left: -25px;
  }

  #eighty-percent{
    left: -40px;
  }

  #ninety-five-percent{
    left: -15px;
    bottom: -20px;
  }

  #contact-us-bg-img1,
  #contact-us-bg-img2{
    z-index: -1;
  }


  #map-form-container{
    margin-left: 22px;
    width: 270px;
    flex-direction: column;
    padding: 30px 25px;
    background-color: white;
    height: 1895px;
  }

  #map{
    width: 225px;
  }
  
  form{
    height: 830px;
  }

  #form-container{
    width: 220px;
    margin-left: 2px;
    margin-top: 30px;
    height: 100% !important;
  }

  #textarea{
    width: 110%;
  }

  input[type="text"]{
    width: 110%;
  }

  #submit{
    width: 120%;
    height: 40px;
    margin-left: -10px;
  }

  #contact-info{
    flex-direction: column;
    height: 40%;
    margin-top: -366px;
  }



}
